{
  "printWidth": 120,
  "trailingComma": "es5",
  "tabWidth": 2,
  "semi": false,
  "singleQuote": true,
  "arrowParens": "always",
  "bracketSpacing": true,
  "bracketSameLine": false,
  "vueIndentScriptAndStyle": true,
  "htmlWhitespaceSensitivity": "css",
  "singleAttributePerLine": false
}
